


/*.trebol {
    background-image: url('../img/trebol-negro-fondo-transparente.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    display: inline-block;
    font-size: 10px;
}
*/


.img-carousel{
    height: 400px;
    max-width: 100%;
    padding: 50 px;
}





.trebol{
    width: 150px;
    height: 150px;
}
